.container {
    width: 1280px;
    margin: 0 auto;
}

.header-top {
    padding: 61px 0 0;
    margin-bottom: 50px;
}
.header-top-logo {
    color: deepskyblue;
    font-size: 80px;
    text-decoration: none;
}
.black-text {
    color: black;
}
.header-nav {
    margin-top: 38px;
}
.top-list {
    display: flex;
    justify-content: center;
}
.top-item {
    flex: auto;
    text-align: center;
    height: 72px;
    min-width: 153px;
    padding: 26px 38px 19px;
    background: #35444F;
    border: 1px solid #FFFFFF;
    font-size: 24px;
    color: #FFFFFF;
}
.top-item:last-child {
    text-align: left;
}
.top-item:hover {
    background: #222F3A;
}

.main-body {
    display: flex;
    justify-content: space-between;
}
.article-box {
    width: 885px;
}
.section-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    overflow: hidden;
}
.img-aries {
    height: 381px;
    width: 320px;
    transition: all 1s ease-out;
}
.img-aries:hover {
    transform: scale(1.2);
}
.suggestions-menu {
    width: 334px;
    height: 399px;
    border: 1px solid #000000;
}
.section-text {
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.suggestions-menu-list {
    display: flex;
    flex-direction: column;
}
.suggestions-menu-item {
    padding: 27px 0 27px 44px;
    font-size: 27px;
    color: #485863;
}
.suggestions-menu-item:hover {
    color: #35444F;
    background: #DBDBDB;
    padding-left: 80px;
}

.footer-box {
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-nav {
    display: flex;
    padding: 20px 0;
    margin: 54px 0 30px;
}
.footer-nav-list {
    display: flex;
    justify-content: flex-start;
}
.footer-nav-item {
    margin-left: 40px;
    font-size: 28px;
    color: #0C1927;
}
.footer-nav-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
}
.copyright-text {
    margin-left: auto;
    padding-right: 40px;
    font-size: 24px;
    color: #010101;
}