a {
    color: #FF0000;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #FF0000;
}
.header_section {
    display: flex;
    align-items: center;
}
.header_item {
    padding: 10px 72px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.background_picture {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 78px 0 48px;
    background: url("../img/background_photo.jpg") no-repeat;
    background-size:cover;
}
.main {
    width: 1145px;
    margin: 0 auto;
    padding: 48px 0 66px;
    text-align: center;
    color: #373737;
}
.main-title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 38px;
}
.main-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-bottom: 28px;
}
.main-button {
    margin: 38px 0 42px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background: #FF0000;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    padding: 18px 43px 17px;
}
.footer {
    width: 1145px;
    margin: 0 auto 29px;
    padding-right: 36px;
    text-align: right;
}
.footer-text {
    font-size: 16px;
    font-weight: 700;
    color: #373737;
    letter-spacing: 2.4px;
}

